body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-producto {
    display: flex;
    flex-direction: column;
    gap: 30px;  /* Aumenta el espacio entre campos */
}

.field {
    margin-bottom: 20px;  /* Añade espacio debajo de cada campo */
}

mat-form-field {
    width: 100%;  /* Ajusta esto según la necesidad para controlar el ancho de los campos */
    margin-bottom: 20px;  /* Añade espacio debajo de cada campo de lista desplegable */
}

.input-field, mat-select { 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos específicos para la alineación y disposición de los campos de precio y cantidad */
.campos-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Alinear los elementos al centro verticalmente */
    height: 100%;  /* Ocupar todo el espacio vertical disponible */
}

.precio-cantidad {
    padding-top: 60px;  /* Espacio adicional en la parte superior para alinear con las listas desplegables */
}

.btn-crear {
    margin-top: 50px;  /* Espacio antes del botón para bajarlo un poco más */
    width: 100%;  /* Asegurarse de que el botón ocupe todo el ancho disponible */
    display: flex;
    justify-content: center;  /* Centrar el botón horizontalmente */
}

.btn-create {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px; /* Espacio antes del botón */
}

.btn-create:hover {
    background-color: #0056b3;
}

/* Estilos específicos para la alineación y disposición de los campos de precio y cantidad */
.precio-cantidad {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Alinear los elementos al centro verticalmente */
    margin-bottom: 20px; /* Espacio debajo de cada grupo de campos */
}

.precio-cantidad div {
    margin-bottom: 15px; /* Espacio entre los campos */
}

input[type="number"] {
    width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
    padding: 12px 20px; /* Aumenta el padding para hacer el campo más grande */
    font-size: 16px; /* Aumenta la fuente para mejorar la legibilidad */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados para los inputs */
}