body {
  font-family: 'Roboto', sans-serif;
  background: #E9F7EF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

h1, h4 {
  color: #333;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.mat-card {
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-success {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.btn-success:hover {
  background-color: #218838;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mat-paginator {
  margin-top: 20px;
}

.custom-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
