body {
    background: linear-gradient(135deg, #1e3c72, #4a8fc8); /* Azul aún más claro */
    font-family: Arial, sans-serif; /* Fuente por defecto */
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura completa de la ventana */
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 20px;
}

.data-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de datos */
    gap: 10px;
    margin-bottom: 20px; /* Espacio antes de los campos de entrada */
}

.data-card {
    padding: 10px;
    background-color: #f0f0f0; /* Fondo claro para los datos */
}

.field, .input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #4a8fc8;
    outline: none;
}

.product-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ancho completo dentro del contenedor */
    max-width: 800px; /* Ancho máximo para mejor lectura */
}

.btn-crear {
    text-align: center;
}

.btn-crear button {
    width: 100%; /* Botón de ancho completo */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.btn-volver{
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
}

.btn-crear button:hover {
    background-color: #218838;
}

.custom-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
