<h1 mat-dialog-title class="alert-title">{{message}}</h1>
<mat-dialog-content>
    <p>Agregar nombre del dato     
    </p>
    <mat-form-field>
        <mat-label>Nuevo dato</mat-label>
        <input matInput [(ngModel)]="respuesta">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" class="btn btn-secondary" (click)="onNoClick()">Cancelar</button>
    <button type="button" class="btn btn-success" [mat-dialog-close]="respuesta" cdkFocusInitial>Agregar</button>
</mat-dialog-actions>