
.sidenav {
  width: 350px;
  border-right: 1px solid #34495E;
}

.sidenav-toolbar {
  background-color: #196F3D;
  color: white;
}


.spacer {
  flex: 1 1 auto;
}

.mat-expansion-panel{
  background-color: #566573;

}

.mat-panel-title{
  font-size: 20px;
}

.toolbar-content{
  background-color: #196F3D;
  color: white;
}

.etiqueta-slidebar{
  font-size: 20px;
}